.container{
    height:500px;
    width:1200px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.locationImg{
    width:1200px;
    height:500px;
}
.box{
    width:1200px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    position:absolute;
    gap:40px;
}
.block{
    background-color:black;
    width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}
.title{
    position:absolute;
    margin-bottom:415px;
    font-size:40px;
    color:seashell;
}
@media screen and (min-width:800px)and (max-width:1199px){
    .container{
        width:95%;
        height:auto;
    }
    .locationImg{
        width:95%;
        height:auto;
    }
    .box{
        width:95%;
        height:auto;
        gap:15px;
    }
    .title{
        font-size: calc(40*0.8125px);
        margin-bottom:415px;
    }
}
@media (max-width: 799px) {
    .container{
        width:90%;
        height:auto;
    }
    .locationImg{
        width:90%;
        height:auto;
    }
    .box{
        width:90%;
        height:auto;
        gap:5px;
    }
    .title{
        font-size: calc(40*0.625px);
        margin-bottom:45%;
    }
}
@media (max-width: 425px) {
    .container{
        width:90%;
        height:auto;
    }
    .locationImg{
        width:90%;
        height:auto;
    }
    .box{
        width:85%;
        height:auto;
        gap:10px;
        line-height:0px;
    }
    .box h3{
        line-height:0px;
        font-size:10px;
    }
    .box p{
        line-height:0px;
        font-size:8px;
    }
    .title{
        font-size: calc(40*0.5);
        margin-bottom:45%;
    }
}
@media (max-width: 375px) {
    .container{
        width:90%;
        height:auto;
    }
    .locationImg{
        width:90%;
        height:auto;
    }
    .box{
        width:86%;
        height:auto;
        gap:10px;
        line-height:0px;
    }
    .box h3{
        line-height:0px;
        font-size:10px;
    }
    .box p{
        line-height:0px;
        font-size:7px;
    }
    .title{
        font-size: calc(40*0.32);
        margin-bottom:45%;
    }
}
@media (max-width: 320px) {
    .container{
        width:90%;
        height:auto;
    }
    .locationImg{
        width:90%;
        height:auto;
    }
    .box{
        width:86%;
        height:auto;
        gap:10px;
        line-height:0px;
    }
    .box h3{
        line-height:0px;
        font-size:10px;
    }
    .box p{
        line-height:0px;
        font-size:6px;
    }
    .title{
        font-size: calc(40*0.32);
        margin-bottom:45%;
    }
}