.container{
    height:500px;
    width:1200px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.locationImg{
    width:1200px;
    height:500px;
}
.box{
    width:1200px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    position:absolute;
    gap:40px;
}
.block{
    background-color:black;
    width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    position:absolute;
    margin-bottom:415px;
    font-size:32px;
    color:seashell;
}