.container{
    height:700px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.background{
    height:700px;
    width:1200px;

}
.box{
    width:1200px;
    height:150px;
    line-height: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-self:center;
    position:absolute;
    background-color:black;
    background:flex;
}
@media screen and (min-width:800px)and (max-width:1199px){
    .container{
        width:95%;
        height:auto;
    }
    .background{
        width:95%;
        height:auto;
    }
    .box{
        width:96%;
        height:auto;
    }
}
@media (max-width: 799px) {
    .container{
        width:90%;
        height:auto;
    }
    .background{
        width:90%;
        height:auto;
    }
    .box{
        width:91%;
        height:auto;
    }
}
@media (max-width: 425px) {
    .container{
        width:85%;
        height:auto;
    }
    .background{
        width:85%;
        height:auto;
    }
    .box{
        width:100%;
        height:auto;
    }
    .box h4{
        font-size:7px;
    }
}
@media (max-width: 375px) {
    .container{
        width:85%;
        height:auto;
    }
    .background{
        width:85%;
        height:auto;
    }
    .box{
        width:100%;
        height:auto;
    }
    .box h4{
        font-size:6px;
    }
}
@media (max-width: 320px) {
    .container{
        width:85%;
        height:auto;
    }
    .background{
        width:85%;
        height:auto;
    }
    .box{
        width:100%;
        height:auto;
    }
    .box h4{
        font-size:5px;
    }
}