.container{
    height:700px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.background{
    height:700px;
    width:1200px;

}
.box{
    width:1200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    background-color:black;
}