.container{
    width:1000px;
    display:flex;
    flex-direction: column;
    position:relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    flex-wrap: wrap;
}
.img{
    height:200px;
    width:300px;
}
