.container{
    width:1000px;
    display:flex;
    flex-direction: column;
    position:relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    flex-wrap: wrap;
}
.img{
    height:200px;
    width:300px;
}
@media screen and (min-width:800px)and (max-width:1199px){
    .container{
        width:800px;
    }
    .img{
        height:230px;
        width:350px;
    }
}
@media (max-width: 799px) {
    .container{
        width:800px;
    }
    .img{
        height:230px;
        width:350px;
    }
}
@media (min-width: 100px) and (max-width: 425px) {
    .container{
        width:100%;
    }
}