
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /*changed*/
  min-width: 320px;
  min-height: 100vh;
}

/*Added items*/
.h1{
  font-size: 22px;
  font-family:Helvetica;
    color:seashell;
}
.h2{
  font-size: 40px;
  font-family:Helvetica;
    color:seashell;
}
.h3{
  font-size: 30px;
  font-family:Helvetica;

    color:seashell;
}
.h4{
  font-size: 22px;
  font-family:Helvetica;

    color:seashell;
}
.h5{
  font-size: 18px;
  font-family:Helvetica;

    color:seashell;
}
.p{
  font-size: 20px;
  font-family:Helvetica;
    color:seashell;
}
@media screen and (min-width:800px)and (max-width:1199px){
  .h1{
    font-size: calc(22*0.8125px);
  }
  .h2{
    font-size: calc(40*0.8125px);
  }
  .h3{
    font-size: calc(30*0.8125px);
  }
  .h4{
    font-size: calc(22*0.8125px);
  }
  .h5{
    font-size: calc(18*0.8125px);
  }
  .p{
    font-size: calc(20*0.8125px);
  }
}
@media (max-width: 799px) {
    .h1{
      font-size: calc(22*0.625px);
    }
    .h2{
      font-size: calc(40*0.625px);
    }
    .h3{
      font-size: calc(30*0.625px);
    }
    .h4{
      font-size: calc(22*0.625px);
    }
    .h5{
      font-size: calc(18*0.625px);
    }
    .p{
      font-size: calc(20*0.625px);
    }
}
@media (max-width: 425px) {
  .h1{
    font-size: calc(22*0.50px);
  }
  .h2{
    font-size: calc(40*0.50px);
  }
  .h3{
    font-size: calc(30*0.50px);
  }
  .h4{
    font-size: calc(22*0.50px);
  }
  .h5{
    font-size: calc(18*0.50px);
  }
  .p{
    font-size: calc(20*0.50px);
  }
}
@media (max-width: 375px) {
  .h1{
    font-size: calc(22*0.50px);
  }
  .h2{
    font-size: calc(40*0.375px);
  }
  .h3{
    font-size: calc(30*0.375px);
  }
  .h4{
    font-size: calc(22*0.375px);
  }
  .h5{
    font-size: calc(18*0.375px);
  }
  .p{
    font-size: calc(20*0.375px);
  }
}
@media (max-width: 320px) {
  .h1{
    font-size: calc(22*0.50px);
  }
  .h2{
    font-size: calc(40*0.3px);
  }
  .h3{
    font-size: calc(30*0.3px);
  }
  .h4{
    font-size: calc(22*0.3px);
  }
  .h5{
    font-size: calc(18*0.3px);
  }
  .p{
    font-size: calc(20*0.3px);
  }
}